<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue JS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="container">
        <a v-bind:[attribute]="link" :title="10 + 20" v-html="message" @click.prevent="display">
            {{ message }}
        </a>

        <div class="alert alert-success" v-if="success">
            Ceci est un succès.

            <button class="close" @click="close">&times;</button>
        </div>
        <div class="alert alert-danger" v-else>
            Ceci est une erreur.

            <button class="close" @click="close">&times;</button>
        </div>

        <input type="text" class="form-control" v-model="message">
        <input type="checkbox" v-model="success">

        <ul :class="{ 'text-success': success, 'text-danger': !success }" :style="{ backgroundColor: 'yellow' }">
            <li v-for="(contact, key) in contacts">
                {{ key }} : {{ contact.name.toUpperCase() }}
            </li>
        </ul>

        <div class="alert"
           :class="{ 'alert-success': success, 'alert-danger': !success }"
        >
            Ceci est {{ success ? 'un succès' : 'une erreur' }}.

            <button class="close" @click="close">&times;</button>
        </div>

        <div v-html="content"></div>

        <form @submit.prevent="close">
            <button>Envoyer</button>
        </form>

        <p>
            {{ message.split('').reverse().join('') }}
            {{ messageReversed }}
            {{ reversedMessage() }}
        </p>

        {{ fullName }}
        <input type="text" class="form-control" v-model="fullName">
    </div>

    <!-- Intégrer le CDN de Vue JS -->
    <script src="https://vuejs.org/js/vue.js"></script>
    <!-- Intégrer notre application Vue -->
    <script src="js/app.js"></script>
</body>
</html>
